# --------------------------------------------------------------------------------------
# python deps
# --------------------------------------------------------------------------------------
dvc
sentence-transformers
pydantic

# --------------------------------------------------------------------------------------
# dbs
# --------------------------------------------------------------------------------------
chromadb
psycopg2
pgvector
