# --------------------------------------------------------------------------------------
# python deps
# --------------------------------------------------------------------------------------
dvc
dvclive
sentence-transformers
pydantic
opentelemetry-proto==1.24.0

# --------------------------------------------------------------------------------------
# dbs
# --------------------------------------------------------------------------------------
chromadb
psycopg2
pgvector
pyvespa
pymilvus==2.4.1
qdrant_client
