# --------------------------------------------------------------------------------------
# python deps
# --------------------------------------------------------------------------------------
dvc
dvclive
sentence-transformers
pydantic

# --------------------------------------------------------------------------------------
# dbs
# --------------------------------------------------------------------------------------
chromadb
psycopg2
pgvector
pyvespa
pymilvus==2.4.1
